* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  padding: 30px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
}

.description {
  color: #334155;
  font-size: 28px;
  font-family: 'Roboto';
}

.button {
  width: 150px;
  font-size: 14px;
  font-family: 'Roboto';
  padding: 10px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 8px;
}

.message {
  color: #1e293b;
  font-size: 14px;
  font-family: 'Roboto';
}
